@font-face {
  font-family: Schola;
  src: url("../fonts/texgyreschola-regular.ttf");
}

@font-face {
  font-family: Schola;
  src: url("../fonts/texgyreschola-italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Schola;
  src: url("../fonts/texgyreschola-bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Schola;
  src: url("../fonts/texgyreschola-bolditalic.ttf");
  font-weight: bold;
  font-style: italic;
}

body {
  background-color: #fff;
  font-family: Schola, Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;
}

.post-content {
  text-align: justify;
}

p.subtitle {
  font-weight: bold;
  font-style: normal;
  /*font-variant: small-caps;*/
}

.nav, .nav-opened .menu-button, .no-js-nav {
  background: #eee;
}

.nav-opened .menu-button {
  background: #eee;
  border-color: #eee;
}

.nav li a, .no-js-nav li a {
  color: #6b5289;
}

.nav li:before {
  content: '';
}

header.post-header .post-meta-post {
  text-align: left;
}
